.home-content {
    width: 60%;
}

.home-content h1 {
    color: rgb(74, 15, 15);
    font-size: 900;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 500;
    margin: 10px 30px;
}

.product-picture {
    width: 40%;
}